<% layout("layouts/boilerplate") %>
<h1>Welcome to Stadium Review</h1>
<p>On Stadium Review you can rent stadiums and review them</p>
<a class= "btn btn-primary" href="/stadiums">View All Stadiums</a>
