<% layout("layouts/boilerplate") %>

<div class="container">
    <div class="row mt-5">
        <div class="col-lg-8 offset-lg-2 text-center">
            <h1>Welcome to Stadium Review</h1>
            <p class="lead">Discover, Rent, Create, Review: Your Gateway to Stadium Excellence!</p>
            <a class="btn btn-primary btn-lg" href="/stadiums">View All Stadiums</a>
        </div>
    </div>
</div>
