<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="/stylesheets/add.css">
<div class="container mt-5">
    <h1 class="text-center mb-4">New Stadium</h1>
    <form action="/stadiums" method="post" class="mx-auto needs-validation" style="max-width: 600px;" enctype="multipart/form-data" novalidate>
        <div class="mb-3">
            <label for="title" class="form-label">Enter Title</label>
            <input type="text" name="stadium[title]" id="title" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="location" class="form-label">Enter Location</label>
            <input type="text" name="stadium[location]" id="location" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="price" class="form-label">Enter Price</label>
            <div class="input-group">
                <span class="input-group-text">$</span>
                <input type="number" name="stadium[price]" id="price" class="form-control" step="0.01" placeholder="10.00" required>
                <div class="invalid-feedback">
                    Please enter a valid dollar amount (e.g. 17.31, 16.01, etc.).
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Add Images</label>
            <input type="file" name="image" id="image" class="form-control" required multiple>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Enter Description</label>
            <input type="text" name="stadium[description]" id="description" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-success w-100">Add Stadium</button>
    </form>

</div>