<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Pitch</title>
</head>

<body>
    <form action="http://localhost:3000/pitches/new" method="post">
        <div>
            <label for="title">Enter Title</label>
            <input type="text" name="pitch[title]" id="title">
        </div>

        <div>
            <label for="location">Enter Location</label>
            <input type="text" name="pitch[location]" id="location">
        </div>

        <button>Add Pitch</button>

    </form>
    <a href="http://localhost:3000/pitches">Back to Index</a>
</body>

</html>